*{
  padding: 0%;
  margin: 0%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main{
  height:auto;
  width:100vw;
  background-color: rgb(174, 218, 238);
}
.img{
  background-color:rgb(94, 77, 77);
}
img{
  width:75rem;
  height:19rem;
  margin-top:2rem;
}
a{
  color:blue;
  
}
.mainhead{
  background-color: rgb(116, 108, 118);
}
